/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

ul{
    list-style: none;
}

li{
    display: inline; 
}

header div.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div.container h1{
    padding-right: 30%;

}

a{
    text-decoration: none;
}

